.git
.gitignore
.idea
.vscode
.DS_Store

cache
dist

node_modules
frontend/node_modules
npx-cli/node_modules

target
crates/**/target

frontend/dist
remote-frontend/dist

Dockerfile
Dockerfile-local-build
docker-local-build.sh
